<!DOCTYPE html>
<html lang="{{ page.lang | default: "en" }}">
<head>
	<meta charset="UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<link rel="stylesheet" href="/assets/style.css"/>
	<title>{{ page.title | default: page.name | remove_first: ".md" }}</title>
</head>
<body>
	<div id="header">
		<div class="container menu">
			{% if page.lang contains "zh" %}
				{% assign download = "下载" %}
				{% assign issues = "问题" %}
				{% assign home = "主页" %}
				{% assign donate = "支持" %}
				{% capture lastupdated %}最后更新 : {{ page.date | default: "now" | date: '%Y年%m月%d日 %H:%M %Z' }}{% endcapture %}
			{%- else -%}
				{% assign download = "download" %}
				{% assign issues = "issues" %}
				{% assign home = "home" %}
				{% assign donate = "donate" %}
				{% capture lastupdated %}Last updated : {{ page.date | default: "now" | date: '%Y-%m-%d %H:%M %Z' }}{% endcapture %}
			{%- endif -%}

			{%- if page.project -%}
				<a href="{{ site.url }}/{{ page.project }}/archive/refs/heads/master.zip">{{ download }}</a>
				{{- "" -}}
				<a href="{{ site.url }}/{{ page.project }}/issues">{{ issues }}</a>
			{%- else -%}
				<a href="{{ site.url }}">{{ home }}</a>
			{%- endif -%}
			{%- if page.donate -%}
				<a href="{{ page.donate }}">{{ donate }}</a>
			{%- endif -%}
		</div>
	</div>
	<div id="body">
		<div class="container">
			<div id="items"></div>
			<div id="content">
				<h1>{{ page.title | default: page.name | remove_first: ".md" }}</h1>
				<p>{{ lastupdated }}</p>
				<div class="markdown-body">{{ content }}</div>
			</div>
		</div>
	</div>
	<div id="footer" class="container">
		Hosted on <a href="https://pages.github.com/">GitHub Pages</a> - Theme by <b>lwm</b>
	</div>
	<script src="/assets/main.js"></script>
</body>
</html>
